
.top_bg {
    background: rgb(255, 255, 255);
}

.main_bg {
    background: rgb(238, 238, 238);
}

input {
    width: 85%;
    -webkit-box-shadow: inset 1px 1px 2px 2px rgb(238, 238, 238); 
box-shadow: inset 1px 1px 2px 2px rgb(238, 238, 238);
}

.or1 {
    margin-top: 10%;
}

.or2 {
    margin-top: 20%;
}

button {
    padding: 5% 50%;
    -webkit-box-shadow: 2px 2px 3px 2px #242424; 
    box-shadow: 2px 2px 3px 2px #242424;
        
}
